astroid==2.3.3
certifi==2019.11.28
colorama==0.4.3
Django==2.2.22
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pypiwin32==223
pytz==2019.3
pywin32==227
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.1
wincertstore==0.2
WMI==1.4.9
wrapt==1.11.2
yapf==0.29.0
